<a href="https://colab.research.google.com/github/EAFIT-BI/Programming-for-Business-in-Accounting-2024-2/blob/main/Indexaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#cargamos las librerÃ­as
import pandas as pd
import numpy as np

#leemos el archivo
data = pd.read_csv("/content/home_data.csv")

#visualizamos el archivo para corroborar
#visualizamos los Ãºltimos 3 registros
data.tail(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [2]:
#para consultar el tipo bÃ¡sico de datos que tenemos en la tabla
#usamos la funciÃ³n info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  int64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 3.5+ MB

In [3]:
#vamos a cambiar el tipo de dato del id. Actualmente es tipo entero
#y lo cambiaremos a tipo objeto

data = data.astype({'id':'object'})
#visualizamos la informaciÃ³n nuevamente para asegurarnos que el cambio se hizo
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  object
 1   date           21613 non-null  object
 2   price          21613 non-null  int64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(15), object(2)
memory usage: 3.5+ MB

In [4]:
#un tipo de dato especial es el tipo fecha. Vamos a reemplazar la fecha
#actual por el formato correcto

data['date'] = pd.to_datetime(data['date'], dayfirst = False)

#visualizamos los primeros cinco registros para revisar el cambio

In [5]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# IndexaciÃ³n de filas

In [6]:
#creamos una copia de la tabla actual (no sobreescribimos)
#esta nueva copia tendrÃ¡ como indice el id
data2 = data.set_index('id').copy()
data2.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
#volvemos al Ã­ndice original
data2.reset_index(inplace = True)
data2.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
#volvemos a establecer el Ã­ndice con el id
data2.set_index('id', inplace = True)
data2.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# IndexaciÃ³n y *slicing* del *DataFrame*

Usualmente, se hacen mediante las funciones `loc`y `iloc`. El primero usa los Ã­ndices creados por el programador, y el segundo usa el nÃºmero de fila o filas.

In [9]:
#miramos el nombre de las columnas de la tabla
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
#lo debo hacer cuando no hay ningÃºn Ã­ndice para las filas
data.index[:3]

RangeIndex(start=0, stop=3, step=1)

In [11]:
#esto es lo que llamamos slicing, que es tomar varias filas consecutivas
data.loc[data.index[0]:data.index[3]]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000

In [12]:
#podemos hacer la misma operaciÃ³n, usando esta vez la funciÃ³n iloc
data.iloc[0:4]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000

In [ ]:
#TambiÃ©n podemos acceder al contenido de la tabla
#usando los nombres de las filas y las columnas.
#En las el caso de las columnas, podremos acceder de la
#siguiente manera

data['bedrooms']

In [ ]:
#en el caso que queramos acceder a varias columnas de forma simultÃ¡nea
#es posible hacerlo siempre en cuendo se pasen como una lista ['id', 'date', 'price']

data[['id', 'date', 'price']]

In [ ]:
#el slicing NUNCA se hace con nombres, porque los
#nombres no tienen orden y eso siempre producirÃ¡ un error
data['id':'price']

In [16]:
#podemos acceder a la informaciÃ³n de una celda, indicando el nÃºmero de la fila (Ã­ndice)
#y el nombre de la columna

data.loc[10, 'bathrooms'] #la casa nÃºmero 11, nÃºmero de baÃ±os

2.5

In [17]:
#igualmente, se puede acceder al mismo registro de la siguiente manera

data['bathrooms'][10]

2.5

In [18]:
#El contenido de una celda se puede modificar con loc, pero es
#mÃ¡s recomendable modificarlo con at

data.at[10, 'bathrooms'] = 3

In [19]:
#vamos a comprobar que el cambiÃ³ se realizÃ³
data['bathrooms'][10]

3.0

In [20]:
#tambiÃ©n podemos eliminar columnas completas con el mÃ©todo drop
data.drop('sqft_living15', axis = 1, inplace = True)
#comprobamos que el cambio se hizo
data.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_lot15
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,7639

In [ ]:
#si axis = 0, elimina filas, si axis = 1, elimina columnas,
#para este ejemplo, eliminaremos la tercera fila

data.drop(2, axis = 0, inplace = True)

#visualizamos el cambio
data.head(5)

In [23]:
data['cualquier cosa'] = 0

In [ ]:
data.head(4)

In [ ]:
#tambiÃ©n existe la forma del para eliminar columnas
del data['cualquier cosa']
data.head(4)

In [ ]:
#tambiÃ©n podemos hacer filtrado o slicing con operadores lÃ³gicos
#por ejemplo, queremos una subtabla con todas las casas que tengan
#mÃ¡s de 4 habitaciones

data[data['bedrooms'] > 4]

In [31]:
#ahora haremos un filtrado por el precio. PodrÃ­amos pensar en filtrar
#las propiedades que tengan un precio entre 200000 dÃ³lares y 300000 dÃ³lares

filtros = data[(data['price'] >= 200000) & (data['price'] <= 300000) & (data['date'] >= '2015-01-01')]

In [34]:
filtros.shape[0]

1202